# SSID integration package
ssid_integration_package/**/__pycache__/
ssid_integration_package/**/*.pyc
ssid_integration_package/**/*.pyo
ssid_integration_package/**/.env

# DATA
app/data/

# Backtester 
app/backtesting/results/
scripts/
backtester_app/

# AGENT SPECIFIC FOLDERS
scratch/


.clinerules/
.zencoder/
.zenflow/

# .ENV
.env
.env.*
**/.env
**/.env.*

# CHROME PROFILE
Chrome_profile/

# AGENT RELATED FILES
# .agent-memory/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.vscode/
.idea/
.DS_Store

