# SSID integration package
ssid_integration_package/

# DATA
app/data/

# AGENT SPECIFIC FOLDERS

.clinerules/
.zencoder/
.zenflow/

# .ENV
.env/

# CHROME PROFILE
Chrome_profile/

# AGENT RELATED FILES
# .agent-memory/